.App {
  text-align: center;
  display: flex;
  justify-content: center;
  vertical-align: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 2em;
}

input {
  border-radius: 10px;
  padding: 0.8em;
  border: 1px solid gray;
}

ul {
  padding: 1em;
  border-radius: 20px;
  background-color: #1ed760;
}

li {
  list-style: none;
  padding: 0.3em;
  margin: 1em;
  border-radius: 20px;
  background-color: black;
  color: white;
}

input:focus{
  outline: none;
}